@page "/add-laboratorio"
@layout MainLayout
@inherits C4G.Pages.AddLaboratorioComponent

@using Radzen
@using Radzen.Blazor
@using C4G.Models.C4G
@using Microsoft.AspNetCore.Identity
@using C4G.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@laboratorio" Visible="@(laboratorio != null)" TItem="C4G.Models.C4G.Laboratorio" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Designacao" Component="designacao" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(laboratorio.designacao)" Name="Designacao">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Designacao" Text="designacao is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Acronimo" Component="acronimo" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="10" style="display: block; width: 100%" @bind-Value="@(laboratorio.acronimo)" Name="Acronimo">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Acronimo" Text="acronimo is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Grupo" Component="grupo" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(laboratorio.grupo)" Name="Grupo">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Grupo" Text="grupo is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Instituico" Component="id_instituicao" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getInstituicosResult" TextProperty="designacao" ValueProperty="id_instituicao" Placeholder="Choose Instituico" style="display: block; width: 100%" @bind-Value="@(laboratorio.id_instituicao)" Name="Id_instituicao">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="Id_instituicao" Text="id_instituicao is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
