@page "/"
@page "/atribuicaos"
@layout MainLayout
@inherits C4G.Pages.AtribuicaosComponent

@using Radzen
@using Radzen.Blazor
@using C4G.Models.C4G
@using Microsoft.AspNetCore.Identity
@using C4G.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Atribuicaos">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getAtribuicaosResult" TItem="C4G.Models.C4G.Atribuicao" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="C4G.Models.C4G.Atribuicao" Property="id_atribuicao" Title="Id Atribuicao">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="C4G.Models.C4G.Atribuicao" Property="id_recursos" SortProperty="Recurso.id_recursos" FilterProperty="Recurso.id_recursos" Title="Recurso">
              <Template Context="data">
              @(data.Recurso?.id_recursos)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="C4G.Models.C4G.Atribuicao" Property="id_servico" SortProperty="Servico.designacao" FilterProperty="Servico.designacao" Title="Servico">
              <Template Context="data">
              @(data.Servico?.designacao)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="C4G.Models.C4G.Atribuicao" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="c4GModelsC4GAtribuicao">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, c4GModelsC4GAtribuicao))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
