@page "/formacos"
@layout MainLayout
@inherits C4G.Pages.FormacosComponent

@using Radzen
@using Radzen.Blazor
@using C4G.Models.C4G
@using Microsoft.AspNetCore.Identity
@using C4G.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Formacos">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getFormacosResult" TItem="C4G.Models.C4G.Formaco" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="C4G.Models.C4G.Formaco" Property="designacao_PT" Title="Designacao PT">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="C4G.Models.C4G.Formaco" Property="designacao_EN" Title="Designacao EN">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="C4G.Models.C4G.Formaco" Property="tipo_formacao" Title="Tipo Formacao">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="C4G.Models.C4G.Formaco" Property="custo_unitario" Title="Custo Unitario">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="C4G.Models.C4G.Formaco" Property="observacoes" Title="Observacoes">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="C4G.Models.C4G.Formaco" Property="id_lab" SortProperty="Laboratorio.designacao" FilterProperty="Laboratorio.designacao" Title="Laboratorio">
              <Template Context="data">
              @(data.Laboratorio?.designacao)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="C4G.Models.C4G.Formaco" Property="id_recursos" SortProperty="Recurso.id_recursos" FilterProperty="Recurso.id_recursos" Title="Recurso">
              <Template Context="data">
              @(data.Recurso?.id_recursos)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="C4G.Models.C4G.Formaco" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="c4GModelsC4GFormaco">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, c4GModelsC4GFormaco))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
